---
import DynamicComponent from '../components/dynamic_component.astro';
import Loader from '../components/loader.astro';
import StaticComponent from '../components/static_component.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<StaticComponent />
		<DynamicComponent server:defer timeout={1000} >
			<Loader slot="fallback" />
		</DynamicComponent>
		<DynamicComponent server:defer timeout={2000} >
			<Loader slot="fallback" />
		</DynamicComponent>
	</main>
</Layout>


