---
interface Props {
  timeout: number;
}

const { timeout } = Astro.props as Props;

const session = Astro.cookies.get("session")
await new Promise((resolve) => setTimeout(resolve, timeout));
---

<div>{new Date().toISOString()}</div>
